* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  display: grid;
  overflow-y: auto;
}

.countdown {
  width: 100%;
  background-color: #ffe799;
  color: #593d00;
  text-align: center;
  padding: 15px;
}

nav {
  background: white;
  height: 75px;
  width: 100%;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  justify-content: center;
  align-items: center;
  line-height: 75px;
  margin: 0 5px;
}
nav ul li a {
  color: #593d00;
  font-size: 14px;
}
nav ul li a:hover,
nav ul li a:active {
  color: #0f7c90;
  transition: 0.4s;
  cursor: pointer;
}
#big-container {
  z-index: 5;
  position: relative;
}
#big-container .nav-bar {
  position: sticky;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  top: 0;
}

.udemy img {
  width: 140px;
  height: auto;
  padding: 15px 5px;
  float: left;
  margin-top: 7px;
  margin-left: 10px;
}
.search-box {
  line-height: 50px;
  height: fit-content;
  border: 1px solid #c0c0c0;
  border-radius: 50px;
  padding: 0px 15px;
}
.search-txt {
  background: none;
  outline: none;
  width: 640px;
  padding: 10px 10px;
  border: none;
  background: #fbfbf8;
  font-size: 18px;
}

.log {
  background: #ffffff;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #0f7c90;
  color: #0f7c90;
  width: 100px;
}
.log:hover {
  color: #0c5663;
  border: 1px solid #0c5663;
}
.sign {
  background: #0f7c90;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #0f7c90;
  color: white;
  width: 100px;
}
.sign:hover {
  color: white;
  border: 1px solid #0c5663;
  background: #0c5663;
}

/* Top Css for header and navigation */
/* -------------------------------------------------------------------------------------------------- */
/* Container Css below */
.container {
  width: 98.8vw;
  align-items: center;
  justify-content: center;
}
.cover-page {
  width: 86%;
  height: auto;
  margin: auto;
  justify-content: center;
  border: none;
  outline: none;
  align-items: center;
  position: relative;
}

.cover-page img {
  margin: auto;
  width: 100%;
  height: auto;
}
.info {
  width: 450px;
  height: 280px;
  background-color: #fbfbf8;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  position: absolute;
  top: 12%;
  left: 5%;
}

.info > h1 {
  font-size: 38px;
  padding: 15px 15px 0px 20px;
  color: rgb(49, 45, 45);
}

.study {
  font-size: 20px;
  padding: 5px 15px 5px 20px;
  color: rgb(49, 45, 45);
}
.searchbtn {
  padding: 15px 20px 15px 20px;
  border: 1px solid #c0c0c0;
  width: 380px;
  height: fit-content;
  line-height: 8px;
  margin: 20px;
  border-radius: 5px;
}
.searchbtn > input {
  width: 300px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  padding: 0px 8px;
}
/* done with banner section */
/* --------------------------------------------------------------------------------------------------- */
.access {
  width: 100%;
}
.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 90px;
  align-items: center;
}
.list > li {
  padding: 1em;
  margin: 20px auto;
}
.section {
  width: 90%;
  height: auto;
  margin: auto;
  border: none;
  outline: none;
  align-items: center;
  display: grid;
  margin-top: 15px;
}

.section > p {
  padding: 10px 10px 0px 10px;
  color: #201e1e;
}
#course {
  font-size: 24px;
}
.One1 {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.One1 ul li {
  display: inline-block;
  padding: 15px 25px 15px 10px;
  color: #1f1a1a;
  font-weight: 600;
}

.One1 ul li:hover,
One1 ul li:active {
  display: inline-block;
  border-bottom: 2px solid black;
  font-weight: 700;
  cursor: pointer;
}
.Two2 {
  position: relative;
  margin-top: 15px;
  display: grid;
  height: 220px;
  cursor: pointer;
  background: #fff7f0;
  color: qblack;
  gap: 1em;
  grid-template-columns: 2fr 1fr;
}
.infos {
  padding: 10px;
  margin: 35px 0px 10px 35px;
  align-items: center;
  width: 700px;
  color: #1f1a1a;
}
.infos > h3 {
  padding: 5px;
  font-size: 16px;
  color: #3c3b37;
}
#expy {
  font-weight: 700;
  padding: 50px 0px 0px 3px;
  color: #0f7c90;
  font-size: 14px;
}
#expy:hover {
  color: #0c5663;
}
#simp {
  padding: 5px 0px 20px 0px;
  font-size: 16px;
}
.woman {
  display: grid;
  justify-items: end;
  align-items: center;
}
.woman img {
  border-radius: 50%;
  margin-right: 50px;
  aspect-ratio: auto 183 / 183;
  width: 183px;
}
.line {
  border-style: none;
  border: 0.1px solid #c0c0c0;
}

.vids {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
}
.imgs {
  cursor: pointer;
}

.vids .imgs img {
  width: auto;
  height: auto;
  border-radius: 6px;
  width: 100%;
  opacity: 0.95;
}
.vids .imgs img:hover {
  opacity: 1;
}
.reviews {
  color: #eb8a2f;
}
.name {
  font-size: 14px;
  color: #593d00;
}
.title {
  font-size: 15px;
  color: #593d00;
}
.pri {
  font-size: 13px;
  padding-top: 2px;
  color: #593d00;
}
.seller {
  background-color: #ffe799;
  color: #593d00;
  outline: none;
  border: none;
  margin: 5px 0px;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.hot {
  background-color: #f99;
  color: #593d00;
  outline: none;
  border: none;
  margin: 5px 0px;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.Three3 {
  margin: 30px 0px 30px 0px;
  background: url(https://s.udemycdn.com/browse_components/shared-assets/purple-intersect.svg)
    repeat-x #6e1a52;
  background-size: auto 120%;
  background-position: 0 -2.4rem;
  color: #fff;
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: center;
  display: grid;
  flex-direction: column;
  align-items: center;
  border-radius: 0;
  width: 100%;
}
.info_sm {
  font-size: 26px;
}
#simp_sm {
  font-size: 20px;
}
#started {
  padding: 15px;
  margin: 15px 0px 10px 0px;
  border: 1px solid white;
  background: transparent;
  color: white;
  outline: none;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.vids2 {
  margin: 20px 0px 30px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}
#cat {
  font-size: 24px;
}
.tit {
  color: #000000;
  padding: 25px;
}

.imgsNew {
  border: 1px solid #ececec;
  cursor: pointer;
  border-radius: 5px;
}

.vids2 .imgsNew img {
  width: auto;
  height: auto;
  width: 100%;
  opacity: 0.97;
  border: 1px solid #ececec;
}
.vids2 .imgsNew img:hover {
  opacity: 1;
}

.tit2 {
  color: #3c3b37;
  padding: 10px 0 10px 0px;
  font-weight: 700;
}
#fet {
  font-size: 24px;
  padding: 45px 0px 20px 0px;
}
.sub {
  color: #0f7c90;
  padding: 15px 0px 5px 0px;
  font-weight: 700;
  cursor: pointer;
}
.sub:hover {
  color: #0c5663;
}
.art {
  padding: 5px 0px 25px 0px;
  color: #73726c;
}
.plore {
  background: #0f7c90;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #0f7c90;
  color: white;
  width: auto;
}
.plore:hover {
  color: white;
  border: 1px solid #0c5663;
  background: #0c5663;
}

.inst {
  background-color: #fbfbf8;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 300px;
  margin: 60px 0px 120px 0px;
}
.teacher {
  justify-items: right;
  margin-left: 20%;
}
.teacher img {
  margin-right: 30px;
  width: 380px;
  height: 380px;
  justify-items: right;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}
.info_inst {
  padding: 10px;
  margin: 35px 0px 10px 35px;
  align-items: center;
  width: 700px;
  color: #1f1a1a;
}
.info_inst > h3 {
  padding: 10px 0px 10px 0px;
  font-size: 26px;
  color: #3c3b37;
}
#simp_inst {
  padding: 5px 0px 20px 0px;
  font-size: 20px;
  width: 400px;
  color: #3c3b37;
  align-items: center;
  justify-content: center;
}
.inst2 {
  background-color: #003640;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 300px;
  margin: 100px 0px 120px 0px;
}
.info_inst2 {
  padding: 10px;
  margin: 35px 0px 10px 15px;
  align-items: center;
  width: 500px;
  color: #1f1a1a;
}
.info_inst2 > h3 {
  padding: 10px 0px 10px 0px;
  font-size: 26px;
  color: #ffffff;
}
#simp_inst2 {
  padding: 5px 0px 20px 0px;
  font-size: 20px;
  width: 400px;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}
.sponsors {
  border-top: 1px solid #dcdacb;
  border-bottom: 1px solid #dcdacb;
  display: inline-block;
  padding: 3.2rem;
  width: 100%;
}
.spon_title {
  color: #1f1a1a;
  margin-left: 35%;
  font-size: 24px;
}
.logo_item {
  margin: 1.6rem;
  display: inline;
}
.logo_item img {
}
.space {
  margin-left: 20%;
  margin-top: 10px;
}

.you {
  display: grid;
  grid-template-columns: 3fr 2fr;
  border-top: 1px solid #dcdacb;
  border-bottom: 1px solid #dcdacb;
  padding: 50px 0px 50px 0px;
}
.you_vid {
  display: grid;
  justify-items: end;
  margin-right: 100px;

}
.you_vid video{
  outline: none;
  width: 560px;
  height: 315px;
}
.story {
  display: flexbox;
  margin-top: 70px;
  width: 400px;
  color: #1f1a1a;
}
.story h3{
  font-size: 40px;
}
.story p{
  font-size: 18px;
  padding-top: 10px;
}

.footer{
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin: 30px 0px 0px 0px;
  padding: 10px 0px 10px 30px;
}
.first_foot{

}
.second_foot{
 display: grid;
 justify-content: end;
 margin: 0px 50px 0px 0px;
 font-size: 20px;
 text-shadow: 0px 0px 5px 2px;
}
.toes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.country{
  border: 1px solid #0c5663;
  color: #0c5663;
  padding: 0px;
}
.country select{
  font-size: 18px;
  padding: 5px;
  box-shadow: 0px 0px 10px 3px;
}
select option{
  padding: 10px;
}