* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  display: grid;
  overflow-y: auto;
}

.countdown {
  width: 100%;
  background-color: #ffe799;
  color: #593d00;
  text-align: center;
  padding: 15px;
}

nav {
  background: white;
  height: 75px;
  width: 100%;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  justify-content: center;
  align-items: center;
  line-height: 75px;
  margin: 0 5px;
}
nav ul li a {
  color: #593d00;
  font-size: 14px;
}
nav ul li a:hover,
nav ul li a:active {
  color: #0f7c90;
  transition: 0.4s;
  cursor: pointer;
}
#big-container {
  z-index: 5;
  position: relative;
}
#big-container .nav-bar {
  position: sticky;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  top: 0;
}

.udemy img {
  width: 140px;
  height: auto;
  padding: 15px 5px;
  float: left;
  margin-top: 7px;
  margin-left: 10px;
}
.search-box {
  line-height: 50px;
  height: fit-content;
  border: 1px solid #c0c0c0;
  border-radius: 50px;
  padding: 0px 15px;
}
.search-txt {
  background: none;
  outline: none;
  width: 640px;
  padding: 10px 10px;
  border: none;
  background: #fbfbf8;
  font-size: 18px;
}

.log {
  background: #ffffff;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #0f7c90;
  color: #0f7c90;
  width: 100px;
}
.log:hover {
  color: #0c5663;
  border: 1px solid #0c5663;
}
.sign {
  background: #0f7c90;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #0f7c90;
  color: white;
  width: 100px;
}
.sign:hover {
  color: white;
  border: 1px solid #0c5663;
  background: #0c5663;
}

/* Top Css for header and navigation */
/* -------------------------------------------------------------------------------------------------- */
/* Container Css below */
.container {
  width: 98vw;
  align-items: center;
  justify-content: center;
}
.cover-page {
  width: 86%;
  height: auto;
  margin: auto;
  justify-content: center;
  border: none;
  outline: none;
  align-items: center;
  position: relative;
}

.cover-page img {
  margin: auto;
  width: 100%;
  height: auto;
}
.info {
  width: 450px;
  height: 280px;
  background-color: #fbfbf8;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  position: absolute;
  top: 12%;
  left: 5%;
}

.info > h1 {
  font-size: 38px;
  padding: 15px 15px 0px 20px;
  color: rgb(49, 45, 45);
}

.study {
  font-size: 20px;
  padding: 5px 15px 5px 20px;
  color: rgb(49, 45, 45);
}
.searchbtn {
  padding: 15px 20px 15px 20px;
  border: 1px solid #c0c0c0;
  width: 380px;
  height: fit-content;
  line-height: 8px;
  margin: 20px;
  border-radius: 5px;
}
.searchbtn > input {
  width: 300px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  padding: 0px 8px;
}
/* done with banner section */
/* --------------------------------------------------------------------------------------------------- */
.access {
  width: 100%;
}
.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 90px;
  align-items: center;
}
.list > li {
  padding: 1em;
  margin: 20px auto;
}
.section {
  width: 88%;
  height: auto;
  margin: auto;
  border: none;
  outline: none;
  align-items: center;
  display: grid;
  margin-top: 15px;
}

.section > p {
  padding: 10px 10px 0px 10px;
  color: #201e1e;
}
#course {
  font-size: 24px;
}
.One1 {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.One1 ul li {
  display: inline-block;
  padding: 15px 25px 15px 10px;
  color: #1f1a1a;
  font-weight: 600;
}

.One1 ul li:hover,
One1 ul li:active {
  display: inline-block;
  border-bottom: 2px solid black;
  font-weight: 700;
  cursor: pointer;
}
.Two2 {
  position: relative;
  margin-top: 15px;
  display: grid;
  height: 220px;
  cursor: pointer;
  background: #fff7f0;
  color: qblack;
  gap: 1em;
  grid-template-columns: 2fr 1fr;
}
.infos {
  padding: 10px;
  margin: 35px 0px 10px 35px;
  align-items: center;
  width: 700px;
}
.infos > h3 {
  padding: 5px;
  font-size: 16px;
}
#simp {
  padding: 5px;
  font-size: 16px;
}
.woman {
  display: grid;
  justify-items: end;
  align-items: center;
}
.woman img {
  border-radius: 50%;
  margin-right: 50px;
  aspect-ratio: auto 183 / 183;
  width: 183px;
}
.line {
  border-style: none;
  border: 0.1px solid #c0c0c0;
}

.vids {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
}
.imgs {
  cursor: pointer;

}

.vids .imgs img {
  width: auto;
  height: auto;
  border-radius: 6px;
  width: 100%;
}
.reviews {
  color: #eb8a2f;
}
.name {
  font-size: 14px;
  color: #593d00;
}
.title {
  font-size: 15px;
  color: #593d00;
}
.pri {
  font-size: 13px;
  padding-top: 2px;
  color: #593d00;
}
.seller {
  background-color: #ffe799;
  color: #593d00;
  outline: none;
  border: none;
  margin: 5px 0px;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.hot {
  background-color: #f99;
  color: #593d00;
  outline: none;
  border: none;
  margin: 5px 0px;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
}
