*{
    margin: 0px;
    padding: 0px;
}
.countdown{
    width: 100vw;
    background-color: #ffe799;
    color: #593d00;
    text-align: center;
    padding: 15px;
    font-family: poppins, 'consolas';
}
.nav-bar{
    
}
.udemy img{
    width: 120px;
    height: auto;
    padding: 15px;
    float: left;
}
